# 1. ¿Qué es Pandas?

Pandas es una librería del lenguaje de programación Python que sirve para la manipulación y el análisis de datos. El nombre proviene de "panel data".

Pandas tiene numerosas funcionalidades que la hacen una de las mejores opciones para trabajar con datos, entre otras:

* Métodos integrados para la manipulación rápida de datos.
* Gestión de datos incompletos
* Segmentación
* Inserción y eliminación de columnas
* Mezcla y unión de datos
* Series temporales

La web del proyecto donde podremos encontrar la documentación es https://pandas.pydata.org/

In [1]:
# Para importar pandas en un proyecto

In [2]:
# Para importar numpy en un proyecto

# 2. Tipos de datos en Pandas

Existen dos tipos de datos dentro de pandas, las series y los dataframes.

## [Series](https://pandas.pydata.org/docs/reference/api/pandas.Series.html)

Una serie en Pandas es un array unidimensional. Contiene cualquier tipo de dato soportado en Python y utiliza etiquetas para localizar cada valor de datos para su recuperación. Estas etiquetas forman el índice, y pueden ser incluir cadenas o números enteros. Una Serie es la principal estructura de datos en el framework de pandas para almacenar datos unidimensionales.

In [ ]:
# Para crear una serie usamos

# Crear serie desde un diccionario

In [ ]:
# Crear serie desde listas

### Atributos de la serie

In [ ]:
# Tipo de dato

In [ ]:
# Tamaño

In [ ]:
# Índices

### Acceso a los datos de la serie

In [ ]:
# Por número entero

In [ ]:
# Varios valores por número entero

In [ ]:
# Por valor del índice

In [ ]:
# Varios valores por valor del índice

### Estadísticos descriptivos de una serie

In [ ]:
# Número de elementos que no son NaN

In [ ]:
# Suma de los datos (datos numéricos) o concatenación (cadenas)

In [ ]:
# Suma acumulativa (sólo datos numéricos)

In [ ]:
# Obtener frecuencia de cada valor de la serie

In [ ]:
# Obtener el menor valor de los datos de la serie (sólo datos numéricos)

In [ ]:
# Obtener el mayor valor de los datos de la serie (sólo datos numéricos)

In [ ]:
# Obtener la media del valor de los datos de la serie (sólo datos numéricos)

In [ ]:
# Obtener la desviación típica de lso datos de la serie (sólo datos numéricos)

In [ ]:
# Obtener estadísticos descriptivos de la serie

### Operadores

Los operadores de python tanto aritméticos (+, -, *, /, **, % , y //) como relacionales (>, <, ==, >=, <= y !=) pueden usarse para hacer operaciones con una serie

### Funciones
Se pueden aplicar funciones a cada elemento de la serie utilizando el método apply

También podremos aplicar nuestras propias funciones

### Filtrar series

Podemos filtrar los valores de la serie y quedarnos con aquellos que cumplen una determinada condición

### Eliminar NaNs

## [Dataframe](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.html)

Un Dataframe es una estructura de datos bidimensional etiquetada con columnas que pueden ser de tipos diferentes. Es parecido a una hoja de cálculo o una tabla SQL. Cada una de las columnas es una Serie. Es el objeto de la librería pandas más utilizado.

![Estructura Dataframe](recursos/01_dataframe.png)

[Gráfico extraído del curso de pandas de Juan Barrios](https://www.juanbarrios.com/curso-de-pandas-completo-desde-cero/)

### Creación de Dataframes

Un Dataframe puede crearse a partir de diferentes elementos

In [ ]:
# Para crear un dataframe usamos

# Crear DataFrame desde un diccionario de listas

In [ ]:
# Crear DataFrame desde una lista de listas

In [ ]:
# Crear DataFrame desde una lista de diccionarios

#### [Crear DataFrame a partir de un fichero CSV](https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html)

#### [Crear DataFrame a partir de un fichero Excel](https://pandas.pydata.org/docs/reference/api/pandas.read_excel.html)

#### [Crear DataFrame a partir de un fichero JSON](https://pandas.pydata.org/docs/reference/api/pandas.read_json.html)

#### Exportar ficheros

#### [Exportar a CSV](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.to_csv.html)

#### [Exportar a Excel](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.to_excel.html)

#### [Exportar a JSON](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.to_json.html)

### Atributos del DataFrame

In [ ]:
# Información del DataFrame

In [ ]:
# Número de filas y columnas

In [ ]:
# Número de elementos

In [ ]:
# Nombre de las columnas

In [ ]:
# Nombre de las filas

In [ ]:
# Tipos de las columnas

In [ ]:
# Devuelve las n primeras filas

In [ ]:
# Devuelve las n últimas filas

### Renombrar filas y columnas

#### [pd.rename](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.rename.html)

Podemos usar un diccionario y el método de pandas rename para cambiar el nombre de las filas o columnas

#### Utilizando una lista para renombrar columnas e indices

### Acceder a los elementos de un DataFrame

#### Por número entero

#### Por nombres

### Añadir columnas

### Operaciones con columnas
Como las columnas de un DataFrame son series, podremos aplicar las mismas operaciones que con las series

También podremos hacer operaciones con varias columnas

### Funciones
Se pueden aplicar funciones a un DataFrame usando las funciones apply y applymap

#### [pd.apply](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.apply.html)

Para aplicar una función a un DataFrame. Tienen varias opciones, como por ejemplo si se quiere aplicar por filas o columnas...

#### [pd.applymap](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.apply.html)
Para aplicar una función a un DataFrame entero.

### Estadísticos descriptivos de un DataFrame

In [ ]:
# Número de elementos del df que no son NaN

In [ ]:
# Suma de los datos del df

In [ ]:
# Suma acumulativa del df

In [ ]:
# Obtener frecuencia de cada valor del df

In [ ]:
# Obtener el menor valor de los datos del df

In [ ]:
# Obtener el mayor valor de los datos del df

In [ ]:
# Obtener la media del valor de los datos numéricos del df

In [ ]:
# Obtener la desviación típica de los datos númericos del df

In [ ]:
# Obtener estadísticos descriptivos del df

### Eliminar columnas

### Eliminar filas/Columnas

#### [pd.drop](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.drop.html)

### Filtrar filas

Para filtrar filas se le pasa una lista o serie con booleanos al dataframe. También pueden ponerse las condiciones directamente y poner varias condiciones. En este último caso cada condición hay que ponerla entre corchetes.

### Ordenar filas

#### [pd.sort_values](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.sort_values.html)
Sirve para ordenar los valores del df en función de una columna

#### [pd.sort_index](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.sort_index.html)
Sirve para ordenar los valores del df en función del índice

### Usar una lista para Ordenar/Eliminar columnas 

Puede ordenarse o eliminarse las columnas de un df pasándole una lista con los nombres de las columnas

### Eliminar NaNs

#### [pd.dropna](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.dropna.html)

### Rellenar NaNs

#### [pd.fillna](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.fillna.html)

### Concatenar DataFrames

#### [pd.concat](https://pandas.pydata.org/docs/reference/api/pandas.concat.html)

### Eliminar duplicados

#### [pd.drop_duplicates](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.drop_duplicates.html)

### Cambiar tipo de dato

### Iterar por filas

### Trasponer DataFrame

### Sustituir valores

#### [pd.replace](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.replace.html)
Sirve para sustituir un valor o conjunto de valores por otros. Acepta como entradas un valor o lista de valores y como valor de sustitución un valor o lista de valores. Puede usarse un diccionario. También puede especificarse que se sustituyan los valores por los anteriores o posteriores.

#### Sustituir valores de forma condicional

### Uniendo DataFrames

#### [pd.merge](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.merge.html)
El merge sirve para unir DataFrames o Series con nombres con un join al estilo de los lenguajes de bases de datos como SQL. El join se hace en columnas o índices y se pueden hacer left joins, right joins, productos cartesianos...

### Pivot / Unpivot tables

#### [pd.melt](https://pandas.pydata.org/docs/reference/api/pandas.melt.html)
Despivota un DataFrame convirtiéndolo de formato ancho a largo

#### [pd.pivot_table](https://pandas.pydata.org/docs/reference/api/pandas.pivot_table.html)
Crear una tabla pivotante estilo hoja de cálculo como un DataFrame.

Los niveles de la tabla pivotante se almacenarán en objetos MultiIndex (índices jerárquicos) sobre el índice y las columnas del DataFrame resultante.

### Agrupar valores de un DataFrame

#### [df.groupby](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.groupby.html)
Una operación groupby implica una combinación de división del objeto, aplicación de una función y combinación de los resultados. Puede utilizarse para agrupar grandes cantidades de datos y calcular operaciones sobre estos grupos.

Las funciones de agregación son:

* np.min : Devuelve el mínimo de una lista de valores.
* np.max : Devuelve el máximo de una lista de valores.
* np.count_nonzero : Devuelve el número de valores no nulos de una lista de valores.
* np.sum : Devuelve la suma de una lista de valores.
* np.mean : Devuelve la media de una lista de valores.
* np.std : Devuelve la desviación típica de una lista de valores.

### Timeseries

Podemos trabajar con series temporales con Pandas. Vamos a utilizar un archivo excel que contiene fechas en diferentes formatos.

### [pd.to_datetime](https://pandas.pydata.org/docs/reference/api/pandas.to_datetime.html)

Para convertir valores en fechas utilizamos el comando to_datetime

# 3. Dibujando gráficos con Pandas
Pandas integra métodos para poder dibujar gráficos de nuestras series o DataFrames de forma fácil y sencilla. Para ello usa la librería de gráficos de python matplotlib.